{% extends "base.html" %}
{% import "macros/forms.html" as forms%}
{% block content %}
	<div class="alert alert-success">
		{{message}}
		</div>
	<h1>{{askare.nimi}}</h1>
	<p>
		<!--{{forms.destroy_button("#{base_path}/askare/#{askare.id}/poista")}}-->
		<a class="btn btn-danger" href="{{base_path}}/askare/{{askare.id}}/poista">Poista</a>
		<a class="btn btn-default" href="{{base_path}}/askare/{{askare.id}}/muokkaa">Muokkaa</a>
	</p>

	<ul>
		<li><strong>Mihin mennessä:</strong>{{askare.paivamaara}}</li>
		<li><strong>Tilanne ja tärkeys:</strong><label class="label label-danger">?TOTEUTUS KESKEN?</label></li>
	</ul>

	<p>
		{{askare.kuvaus}}
	</p>
{% endblock %}