{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän muistilista</h1>

<p>
	<a href="{{base_path}}/askare/new" class="btn btn-success">Uusi askare</a>
</p>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Päivämäärä</th>
			<th>Kuvaus</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for askare in askareet %}
		<tr>
			<td><a href="{{base_path}}/askare/{{askare.id}}">{{askare.nimi}}</td>
			<td>{{askare.paivamaara}}</td>
			<td>{{askare.kuvaus}}</td>
			<td><a class="btn btn-default btn-sm" href="{{base_path}}/askare/{{askare.id}}/edit">Muokkaa</td>
		</tr>
		{% endfor %}
	</tbody>
</table>




{% endblock %}