{% extends "base.html" %}
{% block content %}

<h1>Lisää askare muistilistaan</h1>
<p>Pakollinen tieto *</p>

<form method="post" action="{{base_path}}/askare">
<div class="form-group">
	<label>Nimi *</label>
	<input type="text" name="nimi" class="form-control">
</div>

<div class="form-group">
	<label>Mihin mennessä</label>
	<input type="text" name="paivamaara" class="form-control">
</div>

<div class="form-group">
	<label>Kuvaus</label>
	<input type="text" name="kuvaus" class="form-control">
</div>

<div class="form-group">
	<button type="submit" class="btn btn-primary">Lisää</button>
</div>
</form>
{% endblock %}