{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}


	<h1>Lisää askareelle: {{askare.nimi}}  kategoria(t)</h1>
	<form method="post" action="{{base_path}}/askare/{{askare.id}}/kategoria">
	<div class="form-group">
	<label>Kategoriat</label>
	<select class="form-control" name="kategoriat[]" multiple="">
	{% for kategoria in kategoriat %}
	<option value="{{kategoria.id}}">{{kategoria.nimi}}</option>
	{% endfor %}
	</select>
	</div>
	<div class="form-group">
	<button type="submit" class="btn btn-primary">Lisää kategoria(t)</button>
</div>
	</form>

{% endblock %}